* {
}

body {
  margin: 20px;
}

main {
  width: 100%;
}

div.username {
  position: absolute;
  top: 20px;
  right: 20px;
}

div.graphics {
  div.graphic {
    display: inline-block;
    margin: 10px 10px 0 0;

    a {
      text-decoration: none;
    }

    img {
      max-width: 250px;
      max-height: 250px;

      &.selected {
        outline: 3px solid red;
      }
    }

    button {
      display: block;
      margin: 0 auto;
    }
  }
}

p.end-text {
  color: red;
  font-size: 1.2em;
}
